@import "tailwindcss";

* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: auto;
  user-select: none !important;
  -webkit-user-drag: none !important;
  -moz-user-select: none !important;
  scroll-behavior: smooth !important;
  /* overflow: hidden !important; */
}

#root {
  width: 100%;
  height: 100%;
}

button,
svg,
label {
  cursor: pointer;
  outline: none !important;
}

@font-face {
  font-family: "Cinzel-Regular";
  src: url("./assets/Fonts/Cinzel-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Cinzel-Bold";
  src: url("./assets/Fonts/Cinzel-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Lato-Thin";
  src: url("./assets/Fonts/Lato-Thin.ttf") format("truetype");
}
@font-face {
  font-family: "Lato-Light";
  src: url("./assets/Fonts/Lato-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Lato-Regular";
  src: url("./assets/Fonts/Lato-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "PlayFair-Regular";
  src: url("./assets/Fonts/Playfair-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "PlayFair-Bold";
  src: url("./assets/Fonts/Playfair-Bold.ttf") format("truetype");
}

@theme {
  --font-cinzel-regular: "Cinzel-Regular";
  --font-cinzel-bold: "Cinzel-Bold";
  --font-lato-thin: "Lato-Thin";
  --font-lato-light: "Lato-Light";
  --font-lato-regular: "Lato-Regular";
  --font-playfair-regular: "PlayFair-Regular";
  --font-playfair-bold: "PlayFair-Bold";
  --color-beige: #e1dcc9;
  --color-brown: #412d15;
  --color-dark: #0c0c0c;
  --color-mehroon: #1f150c;
  --breakpoint-end: 800px;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #e1dcc9;
}

::-webkit-scrollbar-thumb {
  background: #412d15;
}

.footerLink {
  z-index: 1;
}

.footerLink:hover {
  transition: all 0.2s ease-in-out;
  color: #412d15 !important;
}

.footerLink::before {
  transition: all 0.2s ease-in-out;
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: -100%;
  left: 0;
  z-index: -1;
  background-color: #e1dcc9;
}

.footerLink:hover::before {
  transition: all 0.2s ease-in-out;
  bottom: 0;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0px 1000px transparent inset !important;
  -webkit-text-fill-color: #e1dcc9 !important;
  transition: background-color 5000s ease-in-out 0s;
}
input,
textarea {
  outline: none !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
